.sidebar {
    width: 350px;
    height: 100%;
    background-color: #ffffff;
    float: left;
  }
  
  .main-content {
    margin-left: 380px;/* 사이드바의 너비만큼 왼쪽 여백을 주어 메인 콘텐츠를 이동시킴 */
    margin-top: 0; 
  }
  .search-container {
    display: flex; 
    align-items: center;
    border-radius: 15px; /* 모서리 둥글게 */
    border-color: #808080;
    width: 100%;
    padding: 5px;
    background-color: #f2f2f2; 
    color: rgba(0, 0, 0, 0.7); /* 반투명 */
    margin-bottom: 15px;
  }

  .search-button{
    order: 1;
    width: 16%;
    height: 20px;
    background-color: #f2f2f2;
    border:none;
    background-color: #f2f2f2;
    font-size:1em;
    color:#f2f2f2;
    outline:none;
    display:inline;
    margin-left: 10px;
    box-sizing: border-box;
  }
  .search-button{
    background-color: #f2f2f2;
  }
  .search-input{
    order: 2;
    width:84%;
    height:100%;
    border:none;
    font-size:1em;
    padding-left: -20px;
    font-style: oblique;
    display:inline;
    outline:none;
    box-sizing: border-box;
    background-color: #f2f2f2;
  }
  .search-history-container {
    position: relative;
    z-index: 1;
  }
  .search-history{
    display: inline-block;
    max-width: 350px;

  }
  .search-record{
    border: 1px solid #ccc;
    padding: 2px 5px;
    border-radius: 10px;
    margin: 0 8px;
  }
  #suggestion-box {
    position: absolute;
    top: -10px;
    left: 0;
    z-index: 2;
    margin-top: 5px;
    background: white;
    padding: 0 5px;
    height:100px;
    width: 350px;
    border: 1px solid black;
    overflow: auto;
  }
  