.sidebar {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 90vh;
    background-color: #ffffff;
    float: left;
    overflow: hidden;
  }
  /* .main-content {
    margin-left: 400px;
    margin-top: 700px; 
    display: 'flex'
  } */

  .search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px; /* 모서리 둥글게 */
    border-color: #808080;
    width: 90%;
    padding: 5px;
    background-color: #f2f2f2; 
    color: rgba(0, 0, 0, 0.7); /* 반투명 */
    margin-bottom: 15px;
    margin-left: 15px;
    
  }

  .search-button{
    position: relative;
    order: 1;
    width: 16%;
    height: 20px;
    border:none;
    /* background-color: #f2f2f2; */
    font-size:1em;
    outline:none;
    display:inline;
    margin-left: 10px;
    box-sizing: border-box;
    top: -3px;
    left: -2px;
  }
  .search-button{
    background-color: #f2f2f2;
  }
  .search-input{
    order: 2;
    width:85%;
    height:100%;
    border:none;
    font-size:1em;
    padding-left: -20px;
    font-style: oblique;
    display:inline;
    outline:none;
    box-sizing: border-box;
    background-color: #f2f2f2;
    
  }
  .search-history-container {
    position: relative;
    z-index: 1;
    max-height: 210px; /* 원하는 높이로 설정 */
    overflow-y: visible; /* 내용이 넘칠 때 스크롤바 표시 */
    flex: 1;
  }
  .search-history{
    display: inline-block;
    max-width: 350px;
    align-items: center;
    margin-left: 15px;
  }
  .search-record-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 15px; /* search-record가 너비를 벗어나면 줄 바꿈이 되도록 함 */
  }
  .search-record{
    border: 1px solid #ccc;
    padding: 2px 5px;
    border-radius: 10px;
    margin: 0 8px;
  }
  
  #suggestion-box {
    position: absolute;
    top: -10px;
    left: 0;
    z-index: 2;
    margin-top: 5px;
    background: white;
    padding: 0 5px;
    height:300px;
    width: 250px;
    margin-left: 20px;
    border: 1px solid black;
    overflow: auto;
  }
  .suggested-item {
    padding: 10px;
    margin-bottom: 8px;
    background-color: #f1f1f1;
    color: #333;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .suggested-item:hover {
    background-color: 'skyblue'; /* 마우스 호버 시 배경색을 파란색으로 변경 */
  }
  .sidebar-main {
    flex-shrink: 0;
    width: 300px;
    height: 50%;
    background-color: #ffffff;
    float: left;
    display: flex;
    flex-direction: column;
  }
  
  .mpsidebar {
    width: 300px;
    height: 90vh;
    background-color: #ffffff;
    float: left;
  }

  .mpsidebar-menu {
    width: 300px;
    height: 62%;
    background-color: #ffffff;
    
  }


  /* .mpsidebar-main {
    position: fixed;
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 28%;
    background-color: #ffffff;
    float: left;
    display: flex;
    flex-direction: column;
  } */
  .mpsidebar-main {
    flex-shrink: 0;
    width: 300px;
    height: 50%;
    background-color: #ffffff;
    float: left;
    display: flex;
    flex-direction: column;
  }
  
  .additional_menu {
    position: absolute;
    bottom: 2%;
    left: 5%;
    width: 90%;
    margin: auto;
    margin-top: auto;
    font-size: 14px;
    text-align: center;
    padding: 10px;
    background-color: #e7e7e7;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.additional_menu a {
    color: #333;
    text-decoration: none;
}

.additional_menu a:hover {
    text-decoration: underline;
    font-weight: bold;
}

.additional_menu span {
    display: block;
    margin-top: 8px;
    font-size: 12px;
    color: #555;
}

.additional_menu hr {
    border-color: black; /* 원하는 색상으로 변경 */
    border-style: dashed; /* 보더 스타일 변경 */
    border-width: 1px; /* 보더 너비 변경 */
}

.links {
    display: flex;
    justify-content: center;
    gap: 30px;
}



  /* .mpsidebar-footer {
    position: fixed;
    margin-top: auto;
    z-index: 500;
    bottom: 0;
    width: 300px;
    height: 105px;
    background-color: #f2f2f2;
    display: grid;
    grid-template-rows: 2fr 2fr 1.5fr 1.5fr 1.5fr 1.5fr;
    grid-gap: 1px; /* 기본 열 사이의 간격은 1px 
    overflow: hidden;
    
  }
  .mpsidebar-footer > * {
    border-bottom: 1px solid white; // 구분선의 색상을 검은색(#000)으로 설정 
    
  }
  
  .mpsidebar-footer > *:nth-child(1) {
    position: relative;
    margin-top: 2px;
    font-size: 20px;
    font-weight: bold;
    left: -160px;
    right: 0px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: black;
    
  }
  .mpsidebar-footer > *:nth-child(2) {
    position: relative;
    left: 50px;
    right: 0;
    margin-top: auto;
    color: black; 
  }
  .mpsidebar-footer > *:nth-child(3) {
    position: relative;
    left: 50px;
    right: 0;
    margin-top: auto;
    color: black;         
  }
  .mpsidebar-footer > *:nth-child(4) {
    position: relative;
    left: 50px;
    right: 0;
    margin-top: auto;
    color: black;    
    font-size: 13px;
  } */
  

  